Repository elijahr/nph: changes, and which pre-commit hooks are due for each by the changed paths.
All: nimble-build, nph, nph-debug

.pre-commit-config.yaml:

exclude: ^(tests/expected_output/.*|.*\.dSYM/.*)$

repos:
  # General file cleanups
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    exclude: ^tests/(before|after)/
  - id: end-of-file-fixer
    exclude: ^tests/(before|after)/
  - id: check-yaml
    exclude: ^tests/(before|after)/
  - id: check-toml
    exclude: ^tests/(before|after)/
  - id: check-added-large-files
    exclude: ^tests/(before|after)/
  - id: check-merge-conflict
    exclude: ^tests/(before|after)/
  - id: mixed-line-ending
    args: [--fix=lf]
    exclude: ^tests/(before|after)/
  - id: check-case-conflict
    exclude: ^tests/(before|after)/
  - id: check-executables-have-shebangs
    exclude: ^tests/(before|after)/
  - id: check-shebang-scripts-are-executable
    exclude: ^tests/(before|after)/

  # Shell script formatting and linting
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.10.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci, -w]
    exclude: ^tests/(before|after)/

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    exclude: ^tests/(before|after)/

  # Markdown formatting
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.19
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm
    - mdformat-tables
    args: [--wrap, '80', --number]
    exclude: ^tests/(before|after)/

  # YAML formatting
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
    exclude: ^tests/(before|after)/

  # Use nph's own hook for formatting Nim files
- repo: local
  hooks:
  - id: nimble-build
    name: nimble build
    description: Build nph before running formatter
    entry: nimble
    args: [build]
    language: system
    files: \.nim$
    pass_filenames: false
  - id: nph
    name: ./nph
    description: nph - opinionated Nim code formatter
    entry: ./nph
    language: system
    files: \.nim(s|ble)?$
    exclude: ^tests/(before|after)/
  - id: nph-debug
    name: ./nph --debug (test fixtures)
    description: nph - generate .nph.yaml debug files for test fixtures
    entry: ./nph
    language: system
    files: ^tests/(before|after)/.*\.nim$
    args: [--debug]

refactor: remove nph-check hook from pre-commit integration
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  docs/src/usage.md
Due: none

feat: modernize test suite
  .gitignore
  nph.nimble
  tests/expected_output/CONTRIBUTING.md
  tests/expected_output/check_formatting_needed.txt
  tests/expected_output/check_multiple_files.txt
  tests/expected_output/check_no_formatting_needed.txt
  tests/expected_output/color_without_diff.txt
  tests/expected_output/diff_check_formatting_needed.txt
  tests/expected_output/diff_check_no_formatting_needed.txt
  tests/expected_output/diff_color.txt
  tests/expected_output/diff_formatting_needed.txt
  tests/expected_output/diff_multiple_files.txt
  tests/expected_output/diff_no_formatting_needed.txt
  tests/expected_output/diff_rejects_out.txt
  tests/expected_output/diff_rejects_outdir.txt
  tests/expected_output/invalid_syntax.txt
  tests/expected_output/out_rejects_directory.txt
  tests/expected_output/stdin_check.txt
  tests/expected_output/stdin_diff.txt
  tests/expected_output/summary_mixed.txt
  tests/expected_output/summary_only_reformatted.txt
  tests/expected_output/summary_only_unchanged.txt
  tests/test_formatter.nim
Due: nimble-build, nph

feat: add pre-commit integration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  docs/src/installation.md
Due: none

fix: preserve block comments followed by single-line comments
  src/phrenderer.nim
  tests/after/comments.nim
  tests/after/fmton.nim
  tests/before/comments.nim
  tests/before/fmton.nim
Due: nimble-build, nph, nph-debug

fix: update Windows CI runner from deprecated windows-2019 to windows-latest
  .github/workflows/ci.yml
Due: none

untracked files on feature/pre-commit-integration: de64b5e feat: add pre-commit integration
  COMMIT_MESSAGE_UPDATE_SUMMARY.md
  COVERAGE_REPORT.md
  FINAL_COVERAGE_ASSESSMENT.md
  PR_CREATION_GUIDE.md
  REMEDIATION_PLAN.md
  analyze_orphans.sh
  orphan_analysis.txt
  verify_coverage.sh
  verify_features.sh
Due: none

Use latest windows
  .github/workflows/ci.yml
Due: none

Reformat & fix
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  CHANGELOG.md
  config.nims
  docs/open-in.css
  docs/src/book.md
  docs/src/faq.md
  docs/src/introduction.md
  docs/src/style.md
  docs/src/usage.md
  format-git-repo.sh
  nph.nimble
  src/nph.nim
  vscode-nph/.eslintrc.json
  vscode-nph/.vscode/settings.json
  vscode-nph/.yarnrc
  vscode-nph/README.md
  vscode-nph/src/extension.ts
  vscode-nph/vsc-extension-quickstart.md
Due: nimble-build, nph

Fix windows build
  .github/workflows/ci.yml
Due: none

Fix windows
  .github/workflows/ci.yml
Due: none

install openssl 1
  .github/workflows/ci.yml
Due: none

fix windows
  .github/workflows/ci.yml
Due: none

Install pcre
  .github/workflows/ci.yml
Due: none

Use choco
  .github/workflows/ci.yml
Due: none

Fix windows CI and formatting issues
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  CHANGELOG.md
  config.nims
  docs/open-in.css
  docs/src/book.md
  docs/src/faq.md
  docs/src/introduction.md
  docs/src/style.md
  docs/src/usage.md
  format-git-repo.sh
  nph.nimble
  src/nph.nim
  vscode-nph/.eslintrc.json
  vscode-nph/.vscode/settings.json
  vscode-nph/.yarnrc
  vscode-nph/README.md
  vscode-nph/src/extension.ts
  vscode-nph/vsc-extension-quickstart.md
Due: nimble-build, nph

Fix CI
  .github/workflows/ci.yml
Due: none

Workaround for cligen missing stdlib.h on windows
  config.nims
Due: nph

Default to color if isatty and NO_COLOR env var not set
  src/nph.nim
Due: nimble-build, nph

Fix CI
  config.nims
Due: nph

Remove unnecessary installation
  .github/workflows/ci.yml
Due: none

remove separate windows choco installation
  .github/workflows/ci.yml
Due: none

Use hldiff 1.0.6
  nph.nimble
Due: nph

github actions from feature/config-filtering
  .github/workflows/ci.yml
Due: none

test implicit declaration fix for windows
  nph.nimble
Due: nph

Test with cligen fix
  config.nims
  nph.nimble
Due: nph

Simplify matrix and download ssl dlls/certs
  .github/workflows/ci.yml
Due: none

index on feature/config-filtering: 09c1c6e Simplify matrix and download ssl dlls/certs
  .github/workflows/ci.yml
Due: none

Test coverage
  nph.nimble
  tests/expected_output/check_formatting_needed.txt
  tests/expected_output/check_multiple_files.txt
  tests/expected_output/check_no_formatting_needed.txt
  tests/expected_output/color_without_diff.txt
  tests/expected_output/diff_check_formatting_needed.txt
  tests/expected_output/diff_check_no_formatting_needed.txt
  tests/expected_output/diff_color.txt
  tests/expected_output/diff_formatting_needed.txt
  tests/expected_output/diff_multiple_files.txt
  tests/expected_output/diff_no_formatting_needed.txt
  tests/expected_output/diff_rejects_out.txt
  tests/expected_output/diff_rejects_outdir.txt
  tests/expected_output/invalid_syntax.txt
  tests/expected_output/out_rejects_directory.txt
  tests/expected_output/stdin_check.txt
  tests/expected_output/stdin_diff.txt
  tests/expected_output/summary_mixed.txt
  tests/expected_output/summary_only_reformatted.txt
  tests/expected_output/summary_only_unchanged.txt
  tests/test_formatter.nim
Due: nimble-build, nph

index on feature/diff-flag-fixes: 5634f3c Test coverage
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  config.nims
  docs/open-in.css
  docs/src/book.md
  docs/src/faq.md
  docs/src/installation.md
  docs/src/introduction.md
  docs/src/style.md
  docs/src/usage.md
  format-git-repo.sh
  nph.nimble
  vscode-nph/.eslintrc.json
  vscode-nph/.vscode/settings.json
  vscode-nph/.yarnrc
  vscode-nph/README.md
  vscode-nph/src/extension.ts
  vscode-nph/vsc-extension-quickstart.md
Due: nph

test: add comprehensive test suite improvements
  tests/test_formatter.nim
Due: nimble-build, nph

Improve test coverage
  src/nph.nim
  tests/expected_output/diff_check_formatting_needed.txt
  tests/expected_output/diff_color.txt
  tests/expected_output/diff_formatting_needed.txt
  tests/expected_output/diff_multiple_files.txt
  tests/expected_output/stdin_diff.txt
  vscode-nph/src/extension.ts
Due: nimble-build, nph

Run tests
  .github/workflows/ci.yml
Due: none

fix: make version test more flexible for CI environments
  README.md
  tests/test_formatter.nim
Due: nimble-build, nph

test: improve error message assertions to check full strings
  tests/test_formatter.nim
Due: nimble-build, nph

ci: add parallel Linux ARM64 cross-compilation build
  .github/workflows/ci.yml
Due: none

revert: remove ARM64 CI config (was for different project)
  .github/workflows/ci.yml
  tests/expected_output/help.txt
Due: none
